#footer
  .container.text-center
    div
      strong © 2014 quantifyToday
      |  Created by
      a(href='http://reustonium.com')  Andy Ruestow
    div
      | Code licensed under&nbsp;
      a(href='http://opensource.org/licenses/mit-license.html') MIT License
    div
      a(href='https://github.com/reustonium/percentile-feedback-app') GitHub Project
      |  ·&nbsp;
      a(href='https://github.com/reustonium/percentile-feedback-app/issues') Issues