extends layout

block content
  .page-header
    h2 quantifyToday
  p.lead
    | Percentile Feedback Analysis for monitoring your productive time.
    br
    | Just tie in your RescueTime data source.
  #myChart
  | this is at the bottom of my chart
  | #{data}