extends ../layout

block content
  h2 API Examples
  hr

  .row.api-examples
    .col-sm-4
      .panel.panel-default
        .panel-body
          img(src='http://choosenonviolence.org/sites/default/files/Facebook_logo_(square).png', height=40)
          a(href='/api/facebook') Facebook
    .col-sm-4
      .panel.panel-default
        .panel-body
          img(src='http://brooklynbrittle.com/images/twitter-icon.gif', height=40)
          a(href='/api/twitter') Twitter